@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;

  background-image: linear-gradient(to left, rgb(248, 224, 224), rgb(91, 84, 116));
  /* background:"/cardgame/img/sky-space.gif"; */
    /* https://i.gifer.com/WBVk.gif */
  /* https://mir-s3-cdn-cf.behance.net/project_modules/disp/452bc457404189.59d4a08737cff.gif */
}

/* .body {
  background-image: url(https://i.gifer.com/68g.gif);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255); 
} */